{%- render 'schema-breadcrumb' -%}

<section class="main-page" data-section-id="{{ section.id }}" data-section-type="page">
  <div class="main-page__inner page-width">
    <h1 class="main-page__title">{{ page.title }}</h1>
    <div class="main-page__content rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_page.name",
  "tag": "section",
  "class": "section-main-page"
}
{% endschema %}
